@model IEnumerable<Product>
@{
    ViewBag.Title = "Sana WebShop";
}
@section Scripts{ 
<script src="~/ClientSide/dist/inline.bundle.js"></script>
<script src="~/ClientSide/dist/polyfills.bundle.js"></script>
<script src="~/ClientSide/dist/styles.bundle.js"></script>
<script src="~/ClientSide/dist/vendor.bundle.js"></script>
<script src="~/ClientSide/dist/main.bundle.js"></script>
}

<h1>Shop</h1>
<sana-webshop></sana-webshop>

@*@{
    ViewBag.Title = "My Shop";
}*@

@*<h1>Shop</h1>*@


@*<p>Count: @Model.Count()</p>

@foreach(var p in Model)
{
    <div class="col-md-4">
        <div class="well well-sm">
            <img class="img-responsive" src="~/img/@p.Picture" alt="@p.Title"/>
            <h3>@p.Title</h3>
            <ul class="product-props">
                <li>Price: @p.Price</li>
                <li>Category: @p.Category</li>
                <li>Description: @p.Description</li>
            </ul>
            <button id="buyButton" class="btn btn-default">Buy!</button>
        </div>
    </div>
}*@